(cloudflare) {
  tls {
    dns cloudflare {{ opnsense_caddy_dmz_cloudflare_api_token }}
    resolvers 1.1.1.1
  }
}

(cloudflare_sq) {
  tls {
    dns cloudflare {{ scienceqorner_cloudflare_api_key }}
    resolvers 1.1.1.1
  }
}

(headers) {
  header {
    Permissions-Policy interest-cohort=()
    Strict-Transport-Security "max-age=31536000; includeSubdomains"
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Robots-Tag noindex, nofollow
    Referrer-Policy "same-origin"
    Content-Security-Policy "frame-ancestors {{ domain_base }} *.{{ domain_base }}"
    -Server
    Permissions-Policy "geolocation=(self {{ domain_base }} *.{{ domain_base }}), microphone=()"
  }
}

## core

# opnsense
#opnsense.{{ domain_base }} {
#  reverse_proxy https://10.56.0.254:8443 {
#    transport http {
#      tls_insecure_skip_verify
#    }
#  }
#  import cloudflare
#}

# kanboard
todo.{{ domain_base }} {
  redir / /kanboard
  reverse_proxy http://10.56.1.10:80
  import cloudflare
}

## searx
#search.{{ domain_base }} {
#  reverse_proxy http://10.56.1.11:8080
#  import cloudflare
#}

# notes 
notes.{{ domain_base }} {
    reverse_proxy http://10.56.1.1:3000
    import cloudflare
}

# gitea
git.{{ domain_base }} {
    reverse_proxy https://git.reliyya.xyz
}
