[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network-online.target nss-lookup.target docker.socket firewalld.service containerd.service time-set.target mnt-nfs-appdata.mount mnt-nfs-media.mount
Wants=network-online.target containerd.service mnt-nfs-appdata.mount mnt-nfs-media.mount
