(cloudflare) {
  tls {
    dns cloudflare {{ opnsense_caddy_cloudflare_api_token }}
    resolvers 1.1.1.1
  }
}

(headers) {
  header {
    Permissions-Policy interest-cohort=()
    Strict-Transport-Security "max-age=31536000; includeSubdomains"
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Robots-Tag noindex, nofollow
    Referrer-Policy "same-origin"
    Content-Security-Policy "frame-ancestors {{ domain_base }} *.{{ domain_base }}"
    -Server
    Permissions-Policy "geolocation=(self {{ domain_base }} *.{{ domain_base }}), microphone=()"
  }
}

## core

#neo
neo.{{ domain_base }} {
  reverse_proxy https://pve.{{ domain_base }}:8006 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}


# home assistant
ha.{{ domain_base }} {
  reverse_proxy http://haos.{{ domain_base }}:8123
  import cloudflare
}


# pihole
dns.{{ domain_base }} {
  redir / /admin
  reverse_proxy https://pihole.{{ domain_base }} {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}

# # dhcp
# dhcp.{{ domain_base }} {
#   redir / /dhcp.leases
#   reverse_proxy http://10.56.0.253:81
#   import cloudflare
# }

# opnsense
gw.{{ domain_base }} {
  reverse_proxy https://10.56.0.254:8443 {
    transport http {
      tls_insecure_skip_verify
			versions 1.1 1.2
    }
  }
  import cloudflare
}

# beszel
monit.{{ domain_base }} {
  reverse_proxy http://beszel.{{ domain_base }}:8090
  import cloudflare
}

# netbox
infra.{{ domain_base }} {
  reverse_proxy http://netbox.{{ domain_base }}:8001
  import cloudflare
}


# pain ipmi
ipmi.{{ domain_base }} {
  reverse_proxy https://pain-ipmi.{{ domain_base }} {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}

## pikvm
kvm.{{ domain_base }} {
  reverse_proxy https://pikvm.{{ domain_base }}:443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}

# uptime-kuma
kuma.{{ domain_base }} {
  reverse_proxy http://uptime-kuma.{{ domain_base }}:3001
  import cloudflare
}


# lldap
ad.{{ domain_base }} {
  reverse_proxy http://lldap.{{ domain_base }}:17170
  import cloudflare
}

